{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section certifications-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    Certifications
  </h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="cert-title">Professional Scrum Master I (PSM1)</h3>
        <div class="time">2024</div>
      </div>
      <!--//upper-row-->

      <div class="second-upper-row">
        <div class="cert-org">Scrum.org</div>
      </div>
    </div>
    <!--//meta-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="cert-title">Communicating in the Language of Leadership</h3>
        <div class="time">August 2024</div>
      </div>
      <!--//upper-row-->

      <div class="second-upper-row">
        <div class="cert-org">LinkedIn</div>
        <div class="cert-url">
          <a
            href="//www.linkedin.com/learning/"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >View Credential</a>
        </div>
      </div>
    </div>
    <!--//meta-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="cert-title">Test Automation Foundations</h3>
        <div class="time">August 2024</div>
      </div>
      <!--//upper-row-->

      <div class="second-upper-row">
        <div class="cert-org">LinkedIn</div>
        <div class="cert-url">
          <a
            href="//www.linkedin.com/learning/"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >View Credential</a>
        </div>
      </div>
    </div>
    <!--//meta-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="cert-title">Test Automation with Python: 1 Introduction to Automated Testing</h3>
        <div class="time">August 2024</div>
      </div>
      <!--//upper-row-->

      <div class="second-upper-row">
        <div class="cert-org">LinkedIn</div>
        <div class="cert-url">
          <a
            href="//www.linkedin.com/learning/"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >View Credential</a>
        </div>
      </div>
    </div>
    <!--//meta-->
  </div>
  <!--//item-->
</section>
<!--//section-->
{% endif %}
