<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:maryamkhalid1717@gmail.com">maryamkhalid1717@gmail.com</a>
    </li>

    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:+923348032478">+92 334 8032478</a>
    </li>

    <li class="phone"><i class="fas fa-passport"></i>
      <a href="">Pakistani</a>
    </li>

    <li class="timezone"><i class="fas fa-clock"></i>
      <a href="https://worldtimeapi.org/timezone/Asia/Karachi" target="_blank">Asia/Karachi Timezone</a>
    </li>

    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/maryam-khalid-sqa" target="_blank">maryam-khalid-sqa</a>
    </li>

    <li class="github"><i class="fab fa-github"></i>
      <a href="https://github.com/maryam-khalid-official" target="_blank">maryam-khalid-official</a>
    </li>

    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="https://maryam-khalid-official.github.io/resume" target="_blank">maryam-khalid-official.github.io/resume</a>
    </li>

    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/maryam_khalid" target="_blank">maryam_khalid</a>
    </li>

    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="https://maryam-khalid-official.github.io/resume/Maryam_Khalid_Resume.pdf" target="_blank">Resume PDF</a>
    </li>

  </ul>
</div><!--//contact-container-->
