{% assign education = site.data.data.education %}
{% if education %}
  {% if site.data.data.sidebar.education %}
  <div class="education-container container-block">

    <h2 class="container-block-title">
      {{ education.title }}
    </h2>

    <div class="item">
      <h4 class="degree">Bachelor of Science - BS, Software Engineering</h4>
      <h5 class="meta">University of Management and Technology (UMT)</h5>
      <div class="time">Aug 2012 - Aug 2016</div>
    </div><!--//item-->

  </div><!--//education-container-->
  {% else %}
  <section class="section educations-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      {{ education.title }}
    </h2>

    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="degree">Bachelor of Science - BS, Software Engineering</h3>
          <div class="time">Aug 2012 - Aug 2016</div>
        </div><!--//upper-row-->

        <div class="university">University of Management and Technology (UMT)</div>
      </div><!--//meta-->

    </div><!--//item-->

  </section><!--//section-->
  {% endif %}
{% endif %}
